{{ define "main" }}
<main class="content m-4 pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 p-0 mb-4 bg-white shadow">
                <div class="my-3">
                    {{ if not (in .Permalink "/post/") }}
                    <div class="text-center list-title my-3">All posts with {{ .Data.Singular }} '{{ lower .Title }}'</div>
                    {{ end }}

                    {{ $paginator := .Paginate (where .Pages "Type" "post") 10 }}
                    {{ range $paginator.Pages }}
                    <article class="m-0 px-4 py-2 border-bottom">
                        <!--<small class="text-muted">{{ .Date.Format "January 2, 2006" }}</small>-->
                        <h1><small><a href="{{ .Permalink }}">{{ .Title }}</a></small></h1>
                        <section class="post-content">
                            {{ .Description }}
                            <small class="pb-1 min-read">
                                ... <a href="{{ .Permalink }}">continue reading</a> ({{- partial "readingtime.html" . -}})
                            </small>
                        </section>
                    </article>
                    {{ end }}
                    {{ partial "pagination.html" . }}
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        {{ partial "tags.html" .}}
                    </div>
                    <div class="col-sm-12 pt-4">
                        {{ partial "subscribe-newsletter.html" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
