{{ define "main" }}
<main class="content m-4 p-2">
    <div class="container-fluid">
        <div class="row site-content">
            <div class="col-lg-3 col-md-4 col-sm-12 d-none d-md-block">
                {{ partial "toc.html" .}}
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 p-4 mb-4 d-block bg-white shadow">
                <article class="post">
                    {{ if not .Params.hideTitleAndDate }}
                    <small class="text-muted"><span class="fa fa-calendar">&nbsp;</span>Last updated on {{ upper (.Lastmod.Format "January 2, 2006") }}, by {{ upper $.Site.Params.Author }}</small>
                    <h1 class="post-title mt-2 mt-3"><span class="linear-highlight">{{ .Title }}</span></h1>
                    {{ end }}

                <section class="post-content">
                    {{ if not .Params.hideDescription }}
                    <div class="description my-3 font-italic text-muted"> {{ .Description }}</div>
                    {{ else }}
                    <div class="pt-4"></div>
                    {{ end }}
                    {{if .Params.image }}
                    <div class="img-header">
                        <img class="mb-4" src="{{ .Params.image }}" alt="Header image - {{ .Title }}">
                        {{ if .Params.imageAuthor }}
                        <div class="img-header-text-block">
                            Image by <a href="{{ .Params.imageAuthorUrl }}">{{ .Params.imageAuthor }}</a> from <a href="{{ .Params.imageSourceUrl }}">{{ .Params.imageSource }}</a>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}

                    {{ .Content }}
                </section>
                    <div class="post-tag my-4">
                        {{ $taxo := "tags" }}
                        {{ range .Param $taxo }}
                        {{ $name := . }}
                        {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                        <a class="badge badge-secondary" href="{{ .Permalink }}">{{ $name }}</a>
                        {{ end }}
                        {{ end }}
                    </div>

                    {{ partial "related.html" .}}

                    <div class="post-comment">
                        {{ partial "disqus.html" .}}
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 d-none d-lg-block">
                <div class="row">
                    <div class="col-sm-12">
                        {{ partial "tags.html" .}}
                    </div>
                    <div class="col-sm-12 pt-4">
                        {{ partial "subscribe-newsletter.html" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
