{{ $pag := $.Paginator }}

<div class="site-pagination px-4 pb-2">
    <div class="row">
        <div class="col-12">
            <nav class="pagination justify-content-center" role="navigation">
                {{ if $pag.HasPrev }}
                <a class="newer-posts" href="{{ $pag.Prev.URL }}">&larr; Newer Posts</a>
                {{ end }}
                {{ if not .IsHome }}
                <span class="page-number">Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}</span>
                {{ end }}
                {{ if $pag.HasNext }}
                <a class="older-posts" href="{{ $pag.Next.URL }}">Older Posts &rarr;</a>
                {{ end }}
            </nav>
        </div>
    </div>
</div>
