<script type="application/ld+json">
    {
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Params.Author }}{{ end }}",
    "headline" : "{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Params.Author }}{{ end }}",
    "description" : "{{ if or (.IsHome) (not .Description) }}{{ .Site.Title }}{{ else }}{{ .Description }}{{ end }}",
    "inLanguage" : "en-US",
    "author" : "{{ $.Site.Params.Author }}",
    "creator" : "{{ $.Site.Params.Author }}",
    "publisher": {
        "@type": "Organization",
        "name": "{{ $.Site.Params.Author }}",
        "logo": {
            "@type": "ImageObject",
            "url": "https://www.fitrianingrum.me/img/favicon.ico"
        }
    },
    "image": {
        "@type": "imageObject",
        "url": "https://www.fitrianingrum.me/img/favicon.ico"
    },
    "accountablePerson" : "{{ $.Site.Params.Author }}",
    "copyrightHolder" : "{{ $.Site.Params.Author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date.Format "January 2, 2006" }}",
    "dateModified" : "{{ .Lastmod.Format "January 2, 2006" }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "keywords" }}{{ range .Params.keywords }}"{{ . }}",{{ end }}{{ end }}"{{ .Title }}" ]
    }
</script>
