<script type="application/ld+json">
    {
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ if .IsHome }}{{ .Site.Title }} - {{ $.Site.Params.Description }}{{ else }}{{ .Title }}{{ end }}",
    "headline" : "{{ if .IsHome }}{{ .Site.Title }} - {{ $.Site.Params.Description }}{{ else }}{{ .Title }}{{ end }}",
    "description" : "{{ if or (.IsHome) (not .Description) }}{{ .Site.Title }} - {{ $.Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}",
    "inLanguage" : "en-US",
    "author" : "{{ $.Site.Params.Author }}",
    "creator" : "{{ $.Site.Params.Author }}",
    "publisher": "{{ $.Site.Params.Author }}",
    "accountablePerson" : "{{ $.Site.Params.Author }}",
    "copyrightHolder" : "{{ $.Site.Params.Author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Date }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "keywords" }}{{ range .Params.keywords }}"{{ . }}",{{ end }}{{ end }}"{{ .Title }}" ]
    }
</script>
