<div id="mc_embed_signup" class="mx-3 p-4 subscribe">
    <div class="row">
        <div class="col-sm-12 text-center align-self-center subscribe-title">
            <span class="fa fa-envelope-o pr-2"></span>Sign up to my newsletter
        </div>
    </div>
    <div class="row">
        <form action="https://fitrianingrum.us14.list-manage.com/subscribe/post?u=ce1d3463cf76e2e51e94285d9&amp;id=87bd862ea1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline form-subscribe" target="_blank" novalidate>
            <input type="text" value="" name="FNAME" class="form-control form-control-sm mx-4 my-1 col-sm-10" id="mce-FNAME" placeholder="Your first name" required>
            <input type="email" value="" name="EMAIL" class="form-control form-control-sm mx-4 my-1 col-sm-10" id="mce-EMAIL" placeholder="Your email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-sm mx-4 my-1 col-sm-10">
            <div class="invisible" aria-hidden="true">
                <input type="text" name="b_ce1d3463cf76e2e51e94285d9_87bd862ea1" tabindex="-1" value="">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
