{{ define "main" }}
<main class="content m-4 p-2">
    <div class="container">
        <div class="row site-content">
            <div class="col-md-8 offset-md-2 col-sm-12 p-4">
                <article class="post text-center">
                    <div class="section-title pb-1">{{ upper .Title }}</div>
                    <div class="char-spacing-small pb-4" style="font-family: 'Balsamiq Sans', cursive;">{{ .Description }}</div>
                    {{ .Content }}
                </article>
            </div>
        </div>
    </div>
</main>
{{ end }}