{{ define "main" }}
<main class="content m-4 p-2">
    <div class="container">
        <div class="row site-content">
            <div class="col-12 text-center">
                <article class="post">
                    <h1 class="post-title"><a href="{{ .Permalink }}">The page can't be found</a></h1>
                    <section class="post-content">
                        The content you're looking for doesn't seem to exist.
                    </section>
                </article>
            </div>
        </div>
    </div>
</main>
{{ end }}
