{{ define "main" }}
<main class="content all-center">
    <div class="text-center">
        <img class="text-center" src="https://res.cloudinary.com/phi21st/image/upload/w_160,h_160,r_max/v1551864312/phi21st.com/phi21st.png" alt="Fitrianingrum" />
    </div>
    <div class="char-spacing-small py-4 text-center" style="font-family: 'Balsamiq Sans', cursive;">Software Engineer | Technical Content Writer</div>
    <div class="text-center">Feel free to contact me <a href="/contact">here</a>.</div>
</main>
{{ end }}
