<div class="post-footer p-3 mt-4" style="border:dashed 1px #ded8d8; background-color:#f7f5f6; border-radius:4px">
    <div class="support-me">
        <h3>✨ Is this blog useful?</h3>
        <span><a href="https://www.buymeacoffee.com/phi21st" target="_blank"><b>Buy Me A Coffee</b></a> ☕ or support via <a href="https://www.paypal.me/fitrianingrum" target="_blank"><b>PayPal</b></a> to keep this space ad-free.</span>
    </div>
    <div class="hire-me pt-4">
        <h3>👩‍💻 Are you hiring?</h3>
        <span>Connect with me on <a href="https://www.linkedin.com/in/fitrianingrum" target="_blank"><b>LinkedIn</b></a>. I am open to remote job opportunities.</span>
    </div>
</div>